.App{
    height: h100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.book{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    gap: 1.5em;
    font-weight: bolder;
}

.books{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.delete{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(245, 191, 192);
    color: rgb(242, 100, 100);
}

.update{
    border: none;
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(204, 204, 243);
    color: rgb(130, 138, 224);
}

.form{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.input{
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
}

.formButton{
    border: none;
    padding: 10px;
    background-color: rgb(244, 142, 74);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.bottom{
    height: h100vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}

.container{
    background: #fff;
    /* width: 100%;
    height: 100vh;  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    background: #ddd;
    width: 90%;
    max-width: 800px;
    display: flex;
    padding: 2px;
    border-radius: 4px;
}

#select{
    background: rgb(242, 100, 100);;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 300px;
    padding: 1px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

#select img{
    width: 15px;
}

#select ul{
    position: absolute;
    top: 120%;
    left:0;
    list-style: none;
    background: #fff;
    color: #555;
    width: 100%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#select ul li{
    padding:10px 20px;
    cursor: pointer;
}

.search-bar input{
    padding: 10px 25px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;

}

#select ul.open{
    max-height: 300px;
}